.welcome-screen {
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
.title-Welcome{
    font-size: 5em;
    margin-left: 150px;
    margin-bottom: 0px;
}
  .title {
    font-size: 4em;
    text-align: "center";
    margin-top: 0px;
  }
  .brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-started-btn {
    position: absolute;
    right: 500px;
    display: inline;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #0b83ec;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: white;
      color: black;
      outline: none;
    }
  }
  .btn-container {
    display: block;
    margin-right: 20px;
  }
  .star-icon {
    width: 100px;
    height: 100px;
    margin: 0px 0px 150px 50px;
  }
}
