.home-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-color: black;
    background-image:url('../../assets/bg3.png') ;
    
    .home-button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 1.5em;
      width: 200px;
      height: 50px;
      background-color: #4CAF50;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
        outline: none;
      }
    }
    
  }
  .title{
    font-size: 4em;
    color: white;
  }
  .star-icon {
    width: 150px;
    height: 150px;
    margin: 0px 0px 150px 50px;
  }
  .brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }